.app {
    background: url('./assets/atl.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    height: 20vh;
    width: 85vw;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.header-buttons {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
}